$color-main: rgba(244, 224, 65, 1);
$color-main-hover: rgba(255, 227, 2, 1);
$color-grey-disabled: rgba(180, 180, 180, 1);
$color-grey-background: #F8F8F8;
$color-white: #fff;
$title-size: 40px;
