@import '../../styles/variables.scss';

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 140px;

  color: $color-white;

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 16px;
    background-color: $color-white;
  }

  &__btn {
    min-width: 100px;
    min-height: 34px;
    background-color: $color-main;
    border: none;
    border-radius: 80px;

    &:hover {
      background-color: $color-main-hover;
    }
  }

  &__content {
    box-sizing: border-box;
    height: 500px;
    align-items: center;
    padding: 40px 16px;
    background-image: url(../../assets/bg.jpg);
    
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: $title-size;
    margin-bottom: 21px;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 26px;
  }
}

.buttons-container {
  display: flex;
  gap: 10px;
}